@font-face {
  font-family: 'NeuemachinaLight';
  src: url('./font/neuemachina-light.otf') format('opentype');
}
@font-face {
  font-family: 'NeuemachinaRegular';
  src: url('./font/neuemachina-regular.otf') format('opentype');
}
@font-face {
  font-family: 'NeuemachinaUltrabold';
  src: url('./font/neuemachina-ultrabold.otf') format('opentype');
}
@font-face {
  font-family: 'NEXT-Book-Bold';
  src: url('./font/next/NEXT-Book-Bold.otf') format('opentype');
}

body {
  background: #030303;
  font-family: 'NeuemachinaLight' 'NeuemachinaRegular' 'NeuemachinaUltrabold';
}
